<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-admob-jd" version="1.0.0">
	<description>Google AdMob Ads plugin for Cordova</description>
	<name>cordova-plugin-admob-jd</name>
	<author href="https://github.com/jamesfdickinson/cordova-plugin-admob-jd">jamesfdickinson</author>
	<license>MIT</license>
	<keywords>ad,ads,admob,google,advertising,advertisment,publicity,earn,win,play,services,iad,flurry,monetization,money</keywords>
	<repo>https://github.com/jamesfdickinson/cordova-plugin-admob-jd.git</repo>
	<issue>https://github.com/jamesfdickinson/cordova-plugin-admob-jd/issues</issue>

	<engines>
		<engine name="cordova" version=">=9.0.0" />
	</engines>


	<js-module src="www/admob.js" name="AdManager">
		<clobbers target="window.admob" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<preference name="ADMOB_APP_ID" />
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AdManager">
				<param name="android-package" value="com.jdsoftwarellc.cordova.admob.AdManager" />
			</feature>
		</config-file>
		<framework src="com.google.android.gms:play-services-ads:20.0.0" />

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="$ADMOB_APP_ID"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		</config-file>

		<source-file src="src/android/AdManager.java" target-dir="src/com/jdsoftwarellc/cordova/admob" />
		<source-file src="src/android/AdMobAppOpenAd.java" target-dir="src/com/jdsoftwarellc/cordova/admob" />
		<source-file src="src/android/AdMobInterstitialAd.java" target-dir="src/com/jdsoftwarellc/cordova/admob" />
		<source-file src="src/android/AdMobRewardedAd.java" target-dir="src/com/jdsoftwarellc/cordova/admob" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<preference name="IOS_APP_ID" />

		<config-file target="*-Info.plist" parent="GADApplicationIdentifier">
			<string>$IOS_APP_ID</string>
		</config-file>
		<config-file target="config.xml" parent="/*">
			<feature name="AdManager">
				<param name="ios-package" value="CDVAdManager" />
			</feature>
		</config-file>

		<header-file src="src/ios/CDVAdManager.h" />
		<source-file src="src/ios/CDVAdManager.m" />
		<header-file src="src/ios/CDVAdManagerAdListener.h" />
		<source-file src="src/ios/CDVAdManagerAdListener.m" />

		<!-- Google AdMob framework -->
		<!-- <framework src="Google-Mobile-Ads-SDK" type="podspec" /> -->
		<!-- <framework src="Firebase/Analytics" type="podspec" />
    <framework src="Firebase/AdMob" type="podspec" /> -->
		<podspec>
			<config>
				<source url="https://cdn.cocoapods.org/"/>
			</config>
			<pods>
				<pod name="Google-Mobile-Ads-SDK" />
				<!-- <pod name="Firebase/Analytics" />
                <pod name="Firebase/AdMob" /> -->
			</pods>
		</podspec>
	</platform>
</plugin>
